body{
  background-color: #f7f7f7;
  font-family: Arial;
  margin: 0;
}
.img_titulo{
  justify-self: center;
  padding: 60px;
}
.menu{
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
  justify-content: center;
}
a{
  text-decoration: none;
}
.item_menu{
  background-color: white;
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 4px;
  color: black;
}
.conteudo_principal{
  display: grid;
  grid-template-columns: repeat(2, 500px);
  margin-top: 60px;
  margin-bottom: 60px;
  justify-content: center;
  position: relative;
}
.foto_bike{
  max-width: 100%;
}
.descricao{
  background-color: #ffffff;
  display: grid;
  place-content: center center;
  padding: 40px;
  text-align: right;
}
p{
  font-size: 20px;
  margin: 0;
}
.botao{
  background-color: #ee2211;
  display: inline-block;
  margin-top: 20px;
  padding: 15px 30px;
  justify-self: end;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 4px;

}
.vantagens{
  padding: 40px;
  place-content: center center;
  text-align: right;
  font-size: 64px;
  color: #c6c6c6;
}
.conteudo_vantagem{
  padding: 60px;
  display: grid;
  grid-template-rows:  repeat(3, auto);
  gap: 20px;
  background-color: #ffffff;
}
.icon{
  margin: 0;
}
h3{
  margin: 0;
}
.descricao_vantag{
  display: grid;
  grid-template-columns: 30px auto;
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  margin: 0;
}
.text_vantag{
  grid-column: 2/-1;
  margin: 0;
}
hr{
  height: 5px;
  width: 60px;
  background-color: #ee2211;
  border: none;
  position: absolute;
  right: 645px;
  top: 25px;
}
.rodape{
  background-color: #ffffff;
  max-width: 100%;
  padding: 25px;
  place-items: center center;
}
