body {
  background-color: #f7f7f7;
  font-family: Arial;
  margin: 0;
  display: grid;
  justify-items: center;
  gap: 60px;
}
header, main{
  justify-items: center;
}
header {
  justify-items: center;
  display: grid;
  gap: 60px;
  padding: 60px;
}
img{
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  gap: 20px;
  list-style: none;
}
.item_menu {
  background-color: white;
  display: block;
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 4px;
  color: black;
  text-transform: uppercase;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  justify-content: center;
  position: relative;
}
.introducao {
  background-color: #ffffff;
  display: grid;
  place-content: center center;
  padding: 40px;
  gap: 20px;
  text-align: right;
}
p {
  font-size: 20px;
  margin: 0;
}
.botao {
  background-color: #ee2211;
  display: inline-block;
  padding: 15px 30px;
  justify-self: end;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 4px;
}
.vantagens {
  padding: 40px;
  place-content: center center;
  text-align: right;
  font-size: 64px;
  color: #c6c6c6;
}
.conteudo_vantagem {
  padding: 60px;
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 20px;
  background-color: #ffffff;
}
.icon {
  margin: 0;
}
h3 {
  margin: 0;
}
.descricao_vantag {
  display: grid;
  grid-template-columns: 30px auto;
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  margin: 0;
}
.text_vantag {
  grid-column: 2/-1;
  margin: 0;
}
hr {
  height: 5px;
  width: 60px;
  background-color: #ee2211;
  border: none;
  position: absolute;
  right: 470px;
  top: 25px;
}
footer {
  background-color: #ffffff;
  box-sizing: border-box;
  width: 100%;
  padding: 30px;
  place-items: center center;
}
